<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <legend>Sprints</legend>
          </div>
          <div class="col-md-6 col-lg-6">
            <select  class="form-control" id="sprint_status" name="sprint_status" placeholder="sprint status" ng-model="model.status"  autocomplete="off" ng-options="status.id as status.name for status in statuses"></select>
          </div>
        </div>
        <div class="panel panel-info" ng-repeat="sprint in sprints | sprintstatus: model.status">
            <div class="panel-heading">
                <a href="#!/sprints/{{sprint.id}}/board">{{sprint.name}}</a>
                <span class="pull-right clickable " ng-click="delete_sprint(sprint)"><i class="glyphicon glyphicon-trash"></i></span>
                <span class="pull-right clickable" ng-click="open_edit_modal(sprint)"><i class="glyphicon glyphicon-cog"></i></span>
            </div>
            <table class="table table-striped">
                <tbody>
                  <tr>
                      <td>Organization:</td>
                      <td>{{sprint.owner}} </td>
                  </tr>
                    <tr>
                        <td>Name:</td>
                        <td>
                            <a href="#!/sprints/{{sprint.id}}/board">
                                {{sprint.name}}
                            </a>
                        </td>
                    </tr>
                    <tr><td>Due Date</td><td>{{sprint.due_date | date: 'fullDate'}}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-info" ng-cloak ng-show="sprints.length == 0">You haven't created any sprints</div>

    </div>

    <div class="col-md-4 col-md-offset-1" ng-controller="gbNewSprintCtrl">
        <form class="form-horizontal new-repository" role="form" id="new_sprint" ng-submit="submit(sprint)">
            <fieldset>
                <legend>Create a Sprint</legend>
                <label for="repo_owner" class="control-label">Organization</label>
                <div class="form-group">
                    <div class="col-sm-10">
                        <!--<input type="text" class="form-control" id="repo_owner" name="repo_owner" placeholder="repository owner" ng-model="repo.owner" autocomplete="on" required>-->
                        <select class="form-control" id="organization" name="organization" ng-model="sprint.owner" ng-options="owner for owner in owners" required></select>
                    </div>
                </div>
                <label for="sprint_name" class="control-label">Name</label>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="sprint_name" name="sprint_name" placeholder="name of sprint" ng-model="sprint.name" autocomplete="on" required>
                    </div>
                </div>
                <label for="due_date" class="control-label">Due Date</label>
                <div class="form-group">
                    <div class="col-sm-10">
                      <adm-dtp ng-model='sprint.due_date'></adm-dtp>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success ">Create Sprint</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
