html,
body
    background-color: #fcfcfc !important

.h-separator
    width: 100%
    border-top: 1px solid #e5e5e5
    padding: 0px 4px
    margin: 5px 0px
    box-sizing: border-box

.full-height
    padding-bottom: 100%
    margin-bottom: -100%


.clickable
    cursor: pointer

.pull-right.clickable
    margin-left: 10px

a
    color: #333
a:hover
    color: #333

.bottom-20
    margin-bottom: 20px

.navbar-right
    img
        height: 32px
        border-radius: 17px
        float: left
        margin-top: 8px
        margin-right: 5px


form.edit-repository
    margin: 30px 45px
    button
    margin-left: 20px

@media (min-width: 992px)
    .new-repository
        border-left: 1px solid #e5e5e5
        padding-left: 50px

