.issues-board
  legend
    font-size: 17px
  .full-height
    padding-bottom: 100%
    margin-bottom: -100%
  .issue-card
    min-width: 184px
    .glyphicon
      font-size: 14px
    .panel-heading
      .milestone-dropdown
        margin-left: 8px
      .users-dropdown
        img
          height: 20px
      .panel-title
        span
          padding-left: 5px
      .milestone-dropdown
        padding-left: 5px
    .panel-body
      font-size: 13px
    .panel-footer
      font-size: 13px
      img
        height: 25px
        margin-right: 10px
        border-radius: 4px
      .badges
        margin-top: 5px
        font-size: 10px
        .issue-badge
          color: white
          padding: 3px
          margin-right: 7px
          display: inline-block
          margin-bottom: 3px
          border-radius: 2px
      .accept-icon
        font-size: 15px
        margin-top: 3px
        color: #555


.issues-table
  width: 100%
  thead
    background-color: #fcfcfc
  th
    width: 1%
    border: 0px !important
  th.title
    width: 19%
    padding: 5px
    margin-bottom: 21px
    font-size: 18px
    font-weight: 300
    color: #333
    //border-bottom: 1px solid #e5e5e5
  .td-for-border
    width: 1%
  td:nth-child(odd)
    border-width: 2px
    border-style: dashed
    border-color: transparent

.drop-container
  min-width: 194px
  width: 19%
  padding: 5px
  vertical-align: top
  min-height: 200px
  &.over
    &:nth-child(1)
      border-color: #3DB5D8
    &:nth-child(3)
      border-color: #428BCA
    &:nth-child(5)
      border-color: #D08002
    &:nth-child(7),
    &:nth-child(9)
      border-color: #3C9A5F

nav
  margin-top: 8px
  .issues-board-query
    margin-bottom: 60px
    padding: 10px
    margin-top: 20px
    background: #f5f5f5
    div
      font-size: 12px
      margin-bottom: 5px
