<% content_for :head do %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="/favicon.ico ">

<title>GitBoard</title>

<!-- Bootstrap core CSS -->
<link href="/css/flatty.bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/main.css" rel="stylesheet">

<!-- Fonts from Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<% end %>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>GitBoard</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">Already a member?</a></li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>GitBoard - The agile board for GitHub issues</h1>
                    <a class="btn btn-success btn-lg" href="/auth/github">Sign in with Github</a>
<!--<form class="form-inline" role="form">
<div class="form-group">
<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
</div>
<button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
</form>		-->
</div><!-- /col-lg-6 -->
<div class="col-lg-6">
    <img class="img-responsive" src="/img/ipad-hand.png" alt="">
</div><!-- /col-lg-6 -->

</div><!-- /row -->
</div><!-- /container -->
</div><!-- /headerwrap -->


<div class="container">
<div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
        <h1>GitBoard<br/>And Git On With It</h1>
        <h3>Gitboard can help you track the status of your GitHub issues</h3>
    </div>
</div><!-- /row -->

<div class="row mt centered">
    <div class="col-lg-4">
        <img src="/img/ser01.png" width="180" alt="">
        <h4>1 - Browser Compatibility</h4>
        <p>This thing only works with the latest in HTML5 hotness.  Join the online sensation.</p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
        <img src="/img/ser02.png" width="180" alt="">
        <h4>2 - Email Campaigns</h4>
        <p>Not making this public yet.  But hey why not? Once its polished.</p>

    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
        <img src="/img/ser03.png" width="180" alt="">
        <h4>3 - Terms of Use</h4>
        <p>This is a beta project.  It is currently free for unlimited use.  No guarantees are made and access may be revoked at anytime.</p>

    </div><!--/col-lg-4 -->
</div><!-- /row -->
</div><!-- /container -->


<div class="container">
<hr>
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Our Awesome Team.</h1>
            <h3>Made over a weekend by this guy.</h3>
        </div>
    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4 col-lg-offset-4">
            <img class="img-circle" src="/img/profile.jpg" width="140" alt="">
            <h4>Joey Crone</h4>
            <p>I'm a guy who works at a job making websites.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div><!-- /container -->

<div class="container">
    <hr>
    <p class="centered">Created by Joey Crone - This layout from BlackTie.co</p>
</div><!-- /container -->


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/flatty.bootstrap.min.js"></script>
</body>
